/*Font*/

.App{
    position: relative;
}

*{
    font-family: 'Avenir', 'sans-serif';
}

@font-face {
    font-family: 'Didot';
    src: url('./fonts/Didot.otf') format('truetype');
}

@font-face {
    font-family: 'Octarine-Light';
    src: url('./fonts/Octarine-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir_roman_12.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
}

/*Menu*/

.absolute{
    position: absolute;
}

.slick-slider {
    width: 100%;
}

.slick-slide {
    height: 95vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    object-fit: cover;
}

.slick-slide img{
    width: 99%;
    height: 95vh;
    object-fit: cover;
    background: white;
}

.video-container{
    width: 100%;
    height: 100vh !important;
}

.video-container {
    position: relative;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.video-container > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    padding: 0;
    height: 100vh !important;
}

.menu-container {
    top: 10px; /* Ajustez la valeur pour définir la position verticale du menu */
    left: 50%; /* Place le menu au milieu horizontalement */
    transform: translateX(-50%); /* Déplace le menu de moitié vers la gauche */
    z-index: 999;
    display: flex;
}

.slide-container{
    position: relative;
    display: flex;
    width: 500px; /* Modifier la largeur selon vos besoins */
    background-color: black; /* Ajoutez cette ligne pour définir le fond noir */
    transition: margin-top 0.2s ease;
    height: 95vh;
}


.slide {
    transition: all 0.3s ease;
}

.slick-slide img .shrink{
    transform: translateY(100%);
}

.shrink {
    width: 120%;
    transform: translateY(100%);
}

/*introduction*/
.content-introduction{
    background: white;
    width: 100%;
    height: 70vh;

}

.text-intro{
    text-align: center;
    padding-top: 10%;
    width: 45%;
    margin: 0 auto;
    font-family: 'Octarine-Light', sans-serif;
    line-height: 32px;
    font-size: 18px;
}

.title-talents{
    margin-top: 5%;
    text-align: center;
}


.card {
    position: relative;
}

.card .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: black;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*Talents*/

.content-talents{
    width: 100%;
    display: flex;
    background: white;
}

.name-talent{
    margin-top: 55%;
    z-index: 999;
    position: absolute;
    padding-left: 20%;
    text-transform: uppercase;
    color: white;
    padding-top: 80%;
    font-size: 1.3em;
    font-weight: 100;
}

.plus{
    margin-left: 80%;
    margin-top: 10%;
    object-fit: contain !important;
    width: 20px !important;
    height: auto !important;
    position: absolute;
    background: none !important;
}

.slide-container {
    position: relative;
    display: flex;
}

.slide {
    transition: all 0.3s ease;
}

.shrink {
    transform: scale(0.8); /* Modifier la valeur pour ajuster la taille réduite */
}

.card {
    display: flex;
    align-items: center;
}

.card .details {
    background-color: black;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.content-portefolios {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: black;
    height: 100vh
}

.image-column {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    width: 100%;
    overflow-y: scroll;

}

.image-column img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;


}

.reverse {
    transform: rotate(180deg);
}

.columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 0 20px;
}

.image-column {
    /* Styles pour la colonne de gauche */
}

.image-column.reverse {
    /* Styles pour la colonne de droite */
}

.poudre{
    width: 25%;
    margin-top: 0%;
    position: absolute;
    margin-left: 80%;
}



.footer {
    color: black;
    padding: 20px;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-content, .footer-social {
    flex: 1;
}

.footer-content p, .footer-social p {
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
    font-size: 15px;
}

.li:hover {
    text-decoration: none;
    color: #F0EDEA;
}



.footer-social ul li {
    display: inline;
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

a {
    color: black;
    text-decoration: none;
}

.menu-burger{
    text-align: end;
    margin-right: 25%;
    align-self: center;
    width: 25px;
    margin-top: 1em;
}

a:hover {
    text-decoration: underline;
}

.colonne1{
    transform: rotate(180deg);
}

.image-column::-webkit-scrollbar {
    display: none; /* Masquer l'indicateur visuel de la barre de défilement */
}

.slide-container {
    position: relative;
}

.slide-text {
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    color: white;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 5%;
    line-height: 28px;
}

.slide.shrink img:active {
    width: 60em;
    margin-top: 20% !important;
}


.slick-initialized .slick-slide{
    background: black;
    background: black;
}

.img-dean{
    object-fit: cover;
    height: 30em;
    filter: grayscale(90%);
}

.section-dean{
    height: 40em;
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    background: white;
    padding-top:10%;
}

.txt-dean{
    width: 80%;
    margin-left: 20%;
    line-height: 27px;
}

.title-dean{
    margin-left: 20%;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Didot', 'sans-serif';
}

.title-customers{
    text-align: center;
    font-size: 4em;
    margin-top: 5%;
    color: black;
    font-family: 'Didot', 'sans-serif';
}

.txt-customer{
    text-align: center;
    width: 35%;
    margin: 0 auto;
    font-size: 1em;
}

.section-customers{
    background: white;
    height: 100vh;
}

.black-bg{
    background: white;
    align-items: center;
    padding-top:2%;
    padding-bottom: 2%;
}

.ul-menu{
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-content: space-between;
    width: 40%;
    padding-top: 1%;
    font-family: 'Helvetica', sans-serif;
    line-height: 35px;
}

.menu-fade-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.menu-fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.menu-fade-exit {
    opacity: 1;
    transform: translateX(0%);
}

.menu-fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in;
}

.content-customers{
    padding-top: 5%;
    padding-bottom: 5%;
}

.content-marque{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
        margin-left: 10%;
}

.logo{
    width: 10%;
    object-fit: contain;
}

.content-info{
    margin-left: 20%;
    margin-top: 10%;
    height: 48vh;
}

.slick-slide-image {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.clicked {
    width: 130% !important;
    margin: 0 auto !important;
    margin-top: 35% !important;
    background: none;
    transform: scale(0.8) !important;
    height: 30em !important;
    transition: transform 0.5s !important;
}

.portefolios-link{
    color: white;
    margin-left: 75%;
    font-size: 20px;
    letter-spacing: 2px;
}

.show {
    opacity: 1;
}

.Menu {
    background: white;
    height: 4em;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;

}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    width: 50%;
    margin: 0 auto;
}

.logo{

}

.menu-toggle {
    cursor: pointer;
}

.menu-burger {
    height: 2em;
}

.menu-content {
    position: absolute;
    top: 4em;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    height: 100vh;
}

.ul-menu {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    text-align: center;
    top: 20%;
    position: relative;
}

.ul-menu li {
    margin-bottom: 1em;
}

.li {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 96%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #333;
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    transition: transform 1s ease, opacity 1s ease;
}

.splash-content {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.splash-title {
    font-size: 3em;
    margin-right: 20px;
}

.splash-word {
    font-size: 3em;
    opacity: 0;
    margin-left: 20%;
}

.fade-in-out {
    animation: fadeInOut 1.5s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.fade-out {
    transform: translateY(100%);
    opacity: 0;
}




